* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}


.hamburger {
    display: inline-block;
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.headings {
    color:  #6799ff;
}

.sub-headings {
    color: black;
}

/* Add your CSS here */
@media (max-width: 576px){
    .nav-bar{
        width: 100%;
        margin-right: 10px;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid #eeeeef;
    }

    .nav-logo{
        display: inline-block;
        margin-right: 165px;
        height: 42px;
        padding-top: 10px;
        /*justify-content: flex-start;*/

    }

    .top-nav{
        width: 100%;
        /*vertical-align: center;*/
    }

    .hide-when-small{
        display: none;
    }
}