* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.hamburger {
    display: inline-block;
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color:  #6799ff;
}

.sub-headings > a{
     color: black;
}

.sub-headings {
        display: block;
        text-indent: none;
        min-width: 160px;
        vertical-align: top;
}

.sub-headings span {
  display: block;
  line-height: 20px;
}

.sub-heading-background{
  background-color: #f9fbff;
  text-align: center;
}

#courses{
  display: none;
}

#HowITWorks{
  display: none;
}

/* Add your CSS here */
@media (max-width: 576px){
    .nav-bar{
        width: 100%;
        margin-right: 10px;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    .nav-logo{
        display: inline-block;
        /*margin-right: 165px;*/
        height: 42px;
        padding-top: 10px;
        /*justify-content: flex-start;*/

    }

    .sub-headings {
        display: block;
        text-indent: none;
        background-color: #f9fbff;
    }

    .headings {
    border-bottom:1px solid #eeeeef;
    /*border-top: 1px solid #eeeeef;*/
}
    .top-nav{
        width: 100%;
        /*vertical-align: center;*/
    }

    .hide-when-small{
        display: none;
    }

    .show-always{
     border-bottom: 1px solid #eeeeef;
     display: flex;
     justify-content: space-between;
    }

    .mainMenu{
      display:none;
    }
}

@media(min-width: 720px){
  .nav-bar{
      width: 100%;
  }

  .nav-logo{
      height: 42px;
      padding-top: 15px;
      margin-left: 15px;
  }

  .hide-when-large{
    display: none;
  }

  .mainMenu{
    display: flex;
    flex: 2;
    height: 42px;
    padding-top: 25px;
    /*border-bottom: 1px solid #eeeeef;*/
  }

  .show-always{
    /*border-bottom: 1px solid #eeeeef;*/
    flex: 1;
  }

  .courses-dropdown{
    /* Show dropdowns when not on mobile devices */
        display: initial;
        /* Dropdowns are always positioned below the fixed-height menu. */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        border-top: 1px solid #eeeeef;
  }

  .how-it-works-dropdown{
     display: initial;
        /* Dropdowns are always positioned below the fixed-height menu. */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        border-top: 1px solid #eeeeef;
}

    .sub-headings {
        text-align: center;
        /* Don't let the items/images in the dropdown get too wide */
        max-width: 200px;
    }

    .sub-headings img {
        width: 74px;
        display: inline;
    }

    .sub-headings {
        border: 0;
        padding: 8px 0;
    }

    .sub-headings > a {
        /* Fix the line-height so the link text lines up with the logo */
        line-height: 30px;
    }

    .sub-headings{
      display: inline-block;
    }



  .top-nav{
    display: flex;
  }

  .headings{
    display: inline-block;
  }

  .headings > a{
    margin-right: 15px;
  }

  .sign-in-div{
    justify-content: space-between;
  }

}
